---
import { getCollection } from "astro:content";
import config from '../../config.mjs';


import Base from "../../layouts/Base.astro";
import Post from "../../components/blog/Post.astro";

export async function getStaticPaths({paginate}) {
    const blogEntries = (await getCollection('blog', ({ data }) => {
        return true;
    })).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    );

    return paginate(blogEntries, { pageSize: config.postsPerPage });
}

const { page } = Astro.props;

const data = {
    id: '',
    slug: '',
    body: "",
    collection: 'blog',
    data: {
        title: 'Publicaciones',
        intro: 'Mis publicaciones más recientes.',
        tag: '',
        keywords: 'Carlos Ivan ochoa gomez, CIOG, ciog, blog, culiacan, front-end, Azteli, desarrollador web, publicaciones, posts',
        author: { id: 'ciog', collection: 'author' },
        authorSEO: 'ciog, carlos ivan, ivan ochoa, carlos ivan ochoa gomez, ciog.dev',
        image: {
            src: 'https://res.cloudinary.com/dx7uimym1/image/upload/v1720816573/CIOG/ciog-preview.png',
            width: 1280,
            height: 768,
            format: 'webp'
        },
    },
    pubDate: "2024-07-07T00:00:00.000Z",
    type: 'blog'
}
---
<Base postData={data}>
    <section class="container mx-auto max-w-screen-lg px-7 py-10">
        {
            page.data.map((post, index) => {
                return <Post postData={post} num={index} />;
            })
        }
        <div class="flex flex-row justify-center gap-7">
            {page.url.prev ? <a href={`${Astro.url.origin}${page.url.prev}`} class="text-[16px] bg-transparent border-pacamara-secondary border-[1px] leading-none rounded-full py-3 px-5 text-pacamara-secondary hover:bg-pacamara-accent-white hover:border-pacamara-accent-white hover:text-pacamara-white transition-all duration-300">Previous</a> : null}
            {page.url.next ? <a href={`${Astro.url.origin}${page.url.next}`} class="text-[16px] bg-transparent border-pacamara-secondary border-[1px] leading-none rounded-full py-3 px-5 text-pacamara-secondary hover:bg-pacamara-accent-white hover:border-pacamara-accent-white hover:text-pacamara-white transition-all duration-300">Next</a> : null}
        </div>
        
    </section>

    
</Base>