---
import { Image } from 'astro:assets'

import logoImage from '../../assets/ciog.jpg';
import slide1 from '../../assets/slide-1.jpg';
import slide2 from '../../assets/slide-2.jpg';
import slide3 from '../../assets/slide-3.jpg';
import slide4 from '../../assets/slide-4.jpg';
import slide5 from '../../assets/slide-5.jpg';
---


<section class="
        container mx-auto max-w-screen-xl px-7 
        lg:min-h-[500px] content-center font-pacamara
        prose lg:prose-xl
        prose-headings:font-pacamara-space prose-headings:mt-5 prose-headings:text-pacamara-dark prose-headings:font-bold lg:prose-h1:text-7xl prose-h1:mt-0 prose-heading:transition-all prose-heading:duration-300  
        prose-p:text-pacamara-primary/50 dark:prose-p:text-white/70 prose-p:mb-0 prose-p:transition-all prose-p:duration-300
        prose-img:mt-0 prose-img:mb-0  
        dark:prose-headings:text-white
    ">
        <button id="installButton" style="display: none;">
            Instalar la app
        </button>
   
        <script>
            let deferredPrompt;

window.addEventListener('beforeinstallprompt', (event) => {
  // Prevenir que el navegador muestre automáticamente el prompt de instalación
  event.preventDefault();
  
  // Guardar el evento para mostrar el prompt más tarde
  deferredPrompt = event;
  
  // Mostrar un botón o alerta para invitar al usuario a instalar
  const installButton = document.getElementById('installButton');
//   installButton.style.display = 'block';

  installButton.addEventListener('click', () => {
    // Mostrar el prompt de instalación
    deferredPrompt.prompt();
    
    // Esperar la respuesta del usuario
    deferredPrompt.userChoice.then((choiceResult) => {
      if (choiceResult.outcome === 'accepted') {
        // console.log('El usuario aceptó la instalación');
      } else {
        // console.log('El usuario rechazó la instalación');
      }
      // Resetear deferredPrompt
      deferredPrompt = null;
    });
  });
});

        </script>
      
    <h1>
        <span class="gradient-underline">
            <span>Contemos Historias</span>
        </span>
    </h1>

    <p>
        Quiero que este blog sea un lugar donde pueda compartir lo que he aprendido, mis experiencias, proyectos, habilidades y recursos 
        que me han ayudado a desarrollarme o simplemente cualquier cosa que me haya inspirado a escribir.
    </p>

    <p>
        Una nueva publicación cada mes... al menos, esa es la intención.
    </p>
    <Image src={logoImage} width={600} alt="carlos ivan ochoa gomez" loading="eager" class="relative rounded-[15px] w-[400px] "  />

    <h2>
        <span class="gradient-underline">
            <span>Lo peor que puedes hacer es hacer nada.</span>
        </span>
    </h2>
</section>

<section class="my-10 flex justify-center gap-5 overflow-hidden py-4 sm:gap-10">
    <div class="relative w-44 flex-none overflow-hidden bg-white dark:bg-pacamara-dark sm:w-3/12 rotate-2 rounded-[15px]">
        <Image src={slide1} width={800} alt="" class="object-cover image-shine h-[200px] md:h-[500px]" />
    </div>
    <div class="relative w-44 flex-none overflow-hidden bg-white dark:bg-pacamara-dark sm:w-3/12 -rotate-2 rounded-[15px]">
        <Image src={slide2} width={800} alt="" class="object-cover image-shine h-[200px] md:h-[500px]" />
    </div>
    <div class="relative w-44 flex-none overflow-hidden bg-white dark:bg-pacamara-dark sm:w-3/12 rotate-2 rounded-[15px]">
        <Image src={slide3} width={800} alt="" class="object-cover image-shine h-[200px] md:h-[500px]" />
    </div>
    <div class="relative w-44 flex-none overflow-hidden bg-white dark:bg-pacamara-dark sm:w-3/12  rotate-2 rounded-[15px]">
        <Image src={slide4} width={800} alt="" class="object-cover image-shine h-[200px] md:h-[500px]" />
    </div>
    <div class="relative w-44 flex-none overflow-hidden bg-white dark:bg-pacamara-dark sm:w-3/12 -rotate-2 rounded-[15px]">
        <Image src={slide5} width={800} alt="" class="object-cover image-shine h-[200px] md:h-[500px]" />
    </div>
</section>